<div id="footer">
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Contact -->
                        <section class="contact">
                            <i class="icon fa-solid fa-paper-plane fa-3x fa-bounce" style="--fa-animation-duration: 5s;"></i>
                            <br><br><br>
                            <header>
                                <h3>¿Quiéres optimizar tus procesos con SAP?</h3>
                            </header>
                            <p>¡Contacta con nosotros!<br><br>
                            <a href="{% if page.url == '/' %}#contact{% else %}/index.html#contact{% endif %}" class="button scrolly">Formulario</a></p>

                            <ul class="icons">
                                <li><a href="mailto:info@saptitud.es" class="icon fa-regular fa-envelope"><span class="label">Email</span></a></li>
                                <li><a href="https://www.linkedin.com/company/saptitud-solutions/" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
                            </ul>
                        </section>

                    <!-- Copyright -->
                        <div class="copyright">
                            <ul class="menu">
                                <li>&copy; Saptitud. All rights reserved.</li>
                            </ul>
                        </div>

                </div>

            </div>
        </div>
    </section>
</div>